@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full antialiased dark:bg-neutral-950 dark:text-neutral-50;
  }
}
header nav {
  z-index: 99;
}

.bg-patern1 {
  background: url("https://uploade.storage.iran.liara.space/pattern.png") repeat;
}
.Toastify {
  z-index: 100;
}

.swiper {
  width: 100%;
  height: 100%;
}
/*  */
.swiper-button-prev {
  color: rgb(230, 30, 230) !important;
  right: 0px !important;

  /* width: 50px !important; */
  height: 68px !important;
}

.swiper-button-next {
  color: rgb(230, 30, 230) !important;
  left: -0px !important;
  /* width: 50px !important; */
  height: 68px !important;
}
