@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full antialiased;
  }

  html {
    background: linear-gradient(to right, #c6c6c6, #e6dfdf, #bfc4c4) !important;

    /* background: url("../../public/6.jpg");
    background-repeat: repeat;
    /* background-position: center center; */
    /* background-size: contain;
    animation: ani1 5s infinite linear;
    filter: brightness(98%); */
  }
}
header nav {
  z-index: 99;
}

@layer components {
  .stylecard::before,
  .stylecard::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #ffffff70;
    border-radius: 50%;
    filter: blur(50px);
  }
  .stylecard::before {
    top: 0;
    left: 0;
  }
  .stylecard::after {
    bottom: 0;
    right: 0;
  }
  .textShadow {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }
  .textShadow2 {
    text-shadow: 1px 2px 10px #004ef6, 2px 2px 5px #4cacff;
  }
  .offer {
    @apply border-red-500;
  }
  .offer-text {
    @apply text-red-500;
  }
  .offer-component {
    overflow-x: scroll;
  }
}
.swiper .swiper-button-prev {
  color: #004ef6 !important;
}
.swiper .swiper-button-next {
  color: #004ef6 !important;
}
.arrow-my {
  color: #4cacff;
}
.swiper-wrapper {
  gap: 5px;
}
/* .mySwiper {
  width: 50%;
} */

.bg-patern1 {
  background: url("https://uploade.storage.iran.liara.space/pattern.png") repeat;
}
.Toastify {
  z-index: 100;
}

.swiper {
  width: 100%;
  height: 100%;
}
/*  */
.swiper-button-prev {
  color: rgb(230, 30, 230) !important;
  right: 0px !important;

  /* width: 50px !important; */
  height: 68px !important;
}

.swiper-button-next {
  color: rgb(230, 30, 230) !important;
  /* left: -0px !important; */
  /* width: 50px !important; */
  height: 68px !important;
}
.MuiSelect-select {
  padding: 8px;
}
